src/main/java/org/pp/mybatis/foundationsupportlayer/parser/inventory.dtd

<!ELEMENT inventory (book*)>
        <!ELEMENT book      (title, author*, publisher,isbn,price)>
        <!ATTLIST book year CDATA #IMPLIED>
        <!ELEMENT title    (#PCDATA)>
        <!ELEMENT author (#PCDATA)>
        <!ELEMENT publisher    (#PCDATA)>
        <!ELEMENT isbn    (#PCDATA)>
        <!ELEMENT price    (#PCDATA)>